<div class="row">
    <aside class="col-md-3">
        <h2>Coming Soon</h2>
        <p>Stay tuned for future updates...</p>
    </aside>
    <section class="main col-md-9">
        <article>
            <h2>Add Category</h2>
            <form method="post" action="/categories/add">
                <fieldset>
                    <legend>Category Details</legend>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="category">Category:</label>
                                <input class="form-control" id="category" name="category" type="text" autofocus />
                            </div>
                        </div>
                    </div>
                </fieldset>
                <hr />
                <input type="submit" class="btn btn-primary pull-right" value="Add Category" /><br /><br /><br />
            </form>
        </article>
    </section>
</div>
